//Separate SCSS file for typography for better code organisation
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000


//Font sourced from https://fonts.google.com/specimen/Nunito
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

//Learned how to add variable fonts with SCSS from the following links, using mixins
//Mixin @include code partially sourced from https://stackoverflow.com/questions/38968129/how-to-write-variable-with-multiple-css-properties-in-sass
//Mixin @include code partially sourced from https://sass-lang.com/guide/#topic-6

//Used mixins to create groups of CSS code to define different types of Nunito fonts e.g. Regular, Bold
//Mixins were used over variables since variables can only store a single property, while mixins can store multiple e.g. font-weight & font-family
@mixin nunito-font($boldness: 500) { //Nunito Regular
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: $boldness;
    font-style: normal;
}

@mixin nunito-font($boldness: 700) { //Nunito Bold
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: $boldness;
    font-style: normal;
}

@mixin nunito-font($boldness: 600) { //Nunito Semi-Bold
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: $boldness;
    font-style: normal;
}
