@use '/public/scss/base/_colours.scss'; //Imports separate SCSS file containing colours
@use '/public/scss/base/_typography.scss'; //Imports separate SCSS file containing font-family

.container {
    display:flex;
    flex-direction: row;
    width:100%;
    height:100%;
    gap:3em;
    background-color: colours.$background-colour; //Light grey #F6F6F6
}

main {
    padding: 2em 0;
    width:80%;
    background-color: colours.$background-colour; //Light grey #F6F6F6
}

.btn__container { //Selects 'Dashboard' <h1> and CTAs to add a recipe or recipe log
    display:flex;
    justify-content:flex-end; //Positions flexbox items from the right
    gap:1em; //Adds a gap between the buttons
    align-items: center; //Aligns <h1> with the button text
    padding-bottom:2em;

    h1 {
        margin-inline-end:32em; 
    }
}

.recent-recipes {
    background-color: colours.$background-colour--card; //Close to White, #FCFCFC
    border-radius:1em; //Rounded corners
    padding:2em 3em 3.5em;
    margin-bottom:4em;
    box-shadow: 0 0.25em 0.25em colours.$box-shadow-colour;
}

.recent-recipes--title {
    display:flex;
    align-items:center;
    gap:70em; //About 1120px
}

.recent-recipes--cards {
    display:flex;
    gap:2em;
    padding-top: 1.5em;
}

.recent-recipes--card {
    width: 17em; //About 272px
}

.recent-recipes--card:hover { //Hover state CSS
    box-shadow: 0 0.5em 0.25em colours.$box-shadow-colour;
    cursor:pointer;
}

.recent-recipes--card-text {
    height:6.25em; //About 100px
    box-shadow: 0 0.25em 0.25em colours.$box-shadow-colour;
    padding: 0 1em;
    @include typography.nunito-font($boldness:600); //Applies Nunito Semi-Bold font
    font-size:1.125em; //About 18px
}