//Separate SCSS file for Design System components for clearer code & file structure
//Includes styling for buttonsr

@use '/public/scss/base/_colours.scss'; //Imports separate SCSS file containing brand colours
@use '/public/scss/base/_typography.scss'; //Imports separate SCSS file containing font-family

/*PRIMARY BUTTON STYLING*/
.btn--primary {
    background-color: colours.$button-colour;
    color: colours.$neutral-colour;
    @include typography.nunito-font($boldness:300); //Applies Nunito Light font
    height:3.75em; //Around 60px - in accordance with design
    padding:0.625em; //Around 10px - in accordance with design
    border-radius:0.3125em; //Around 5px for border-radius, in accordance with design
    border:none;
    float: right;
}