//Separate SCSS file for standardised layout components for clearer code & file structure
//Includes styling for header, navigation, sidebar

@use '/public/scss/base/_colours.scss'; //Imports separate SCSS file containing brand colours

/*HEADER STYLING*/
//Flexbox knowledge sourced from https://css-tricks.com/snippets/css/a-guide-to-flexbox/
header {
    display:flex; //Applies flexbox to the header container
    align-items: center; //Aligns logo and hamburger menu to be centred on the same horizontal line 
    gap:1.5em; //Adds a gap between the logo and hamburger menu
    border-bottom: 1px solid colours.$border-colour; //Adds a border to the bottom
    width:100%; //Container spans the whole width of the screen
}

.header__hamburger {
    width: 2.5em; //Increased the width of the hamburger icon to the size of the logo font for visual balance
    margin-left:2em; //Added a gap between the hamburger menu icon and the logo
    margin-right:1em;
    margin-bottom:0.3em; //Aligned the hamburger menu icon with the logo
    display:inline;
}

.header__logo { //Brand Logo in header
    font-family: 'Dongle', sans-serif; //Applied Dongle Regular to logo font
    color: colours.$logo-colour;
    font-size: 3em; //Converted 48px to 3em using a calculator (https://www.w3schools.com/tags/ref_pxtoemconversion.asp)
    text-decoration: none; //Removed the underline from the text
}