//Separate SCSS file for standardised layout components for clearer code & file structure
//Includes styling for header, navigation, sidebar

@use '/public/scss/base/_colours.scss'; //Imports separate SCSS file containing brand colours
@use '/public/scss/base/_typography.scss'; //Imports separate SCSS file containing font-family


/*SIDE NAVIGATION BAR STYLING*/
.sidebar { //selects <aside>
    //Learned how to import variables from other scss files when using '@use' - in colour.$primary-colour
    //Sourced from (https://stackoverflow.com/questions/73172387/use-not-working-in-sass-to-import-variables-but-import-is-working)
    background-color: colours.$primary-colour; //Dark Purple, #4B4263 
    height:100%;
    width: 30%;
}